.comic-area {
    max-width: 1245px;
}

.shuffler {
    position: relative;
    min-height: 600px;
}

.shuffler .mask {
    width: 405px;
    overflow: hidden;
    position: absolute;
}

.shuffler .mask img {
    position: relative;
    top: 0;
}

.shuffler .mask.one {
    left: 30px;
}
.shuffler .mask.one img {
    left: -30px;
}


.shuffler .mask.two {
    left: 435px;
}
.shuffler .mask.two img {
    left: -435px;
}

.shuffler .mask.three {
    left: 840px;
}
.shuffler .mask.three img {
    left: -840px;
}
